.navbar-brand-1 {

	/*float: left;*/
	width: 260px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	/*vertical-align: middle;*/
	font-size:2em;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#f9ffff;
	background-color: #4aaaa5;
	border-color: #cccccc;
	margin-left: 35px;
	border:solid 1px;
	border-color: #cccccc;
	/*padding: 10px 10px 30px 30px;*/
}

.image {

	height: 200px;
	width: 200px;
}

h1{		

	width: 250px;
	height: 90px;
	line-height: 90px;
	text-align: left;
	font-weight: bold;
	font-size:2em;
	font-family: 'Georgia';
	color:#4aaaa5;
	background-color: #ffffff;
	border-color: #cccccc;
	margin-left: 0px;
	/*padding: 10px 10px 30px 30px;*/
}



.col-md-4 {

	margin-left: 35px;
	height: 600px;
	width: 650px;
	margin-top : 10px;
	margin-left: 40px;
	margin-right: 805px;
	line-height: 30px;
	font-family:'Arial';
}


.col-md-8 {

	margin-left: 35px;
	height: 600px;
	width: 650px;
	margin-top : 10px;
	margin-left: 40px;
	margin-right: 805px;
	line-height: 30px;
	font-family:'Arial';
}
.col-lg-8 {

	border: solid 1px;
	margin-left: 30px;
	height: 600px;
	width: 650px;
	margin-top : 10px;
	margin-left: 40px;
	margin-right: 805px;
	line-height: 30px;
	font-family:'Arial';
}

.col-lg-4 {

	float: left;
	font-size:25px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5;
	width:270px;
	height:188px;
	padding: 10px;
	text-align: center;
	margin-left: 5px;
	/*margin-top: 42px;*/
	background-color: white;
	border:solid 1px;
	border-color: #cccccc;
}

.FB_icon,.Linkedin_icon,.Stack_overflow_icon {
	width:60px;
	height: 60px;
	margin-top: 45px;
	border:solid 1px;
	border-color: #cccccc;
}

.footer {

	/*margin-top: 2345px;*/
	clear: both;
	background-color: #666666;
	height:95px;
	line-height: 95px;
	margin-left: 30px;
	width: 960px;
	text-align: center;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-top : 8px solid #4aaaa5 ;
}
.portfolio_image_1,
.portfolio_image_2,
.portfolio_image_3,
.portfolio_image_4 {
	width:280px;
	height: 230px;
	/*margin-left: 30px;*/
}